<!doctype html>
<html>
<head>
  <title>RealTime&reg; Stock Quotes</title>
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <div id="container">
    <header>
      <h1>RealTime Stock Quotes</h1>
    </header>
    <%= yield %>
  </div>


</body>
</html>